{% extends 'base.html' %}
{% block title %} Change Athlete Permissions{% endblock %}

{% block content %}

    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
<!--
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="home.html"><img src="/assets/images/logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="home.html"><img src="/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
-->
<div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
  <div style="width: 100%;">
    <div style="width: 25%; height: 25px;">

    </div>
    <div style="margin-left: 7%">
      <img class="img-xs rounded-circle" src="/assets/images/favicon.png" alt="">
    </div>
</div>

</div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="/assets/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Anne Beethe</h5>
                  <span>PEAK SuperAdmin</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/superadmin/home.html">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Edit Permissions</span>
            </a>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
              <span class="menu-title">Add User</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="addathlete.html"> Add Athlete </a></li>
                <li class="nav-item"> <a class="nav-link" href="addcoach.html"> Add Coach </a></li>
                <li class="nav-item"> <a class="nav-link" href="addpeak.html"> Add PEAK Admin </a></li>
              </ul>
            </div>
          </li>


        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="home.html"><img src="/assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" class="form-control" placeholder="Search Teams">
                </form>
              </li>
            </ul>

            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card corona-gradient-card">
                  <div class="card-body py-0 px-0 px-sm-3">
                    <div class="row align-items-center">
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
<!-- <form method = "POST"> -->
              <div class="col-md-6 col-xl-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title"> {{ user.Name }}</h4>

                    </div>

                    <form method = "POST" id = 'changeandsave'>

                    <div class="preview-list">

                      <div class="preview-item border-bottom">

                        <div class="preview-item-content d-flex flex-grow">
                          <div class="flex-grow">
                            <div class="d-flex d-md-block d-xl-flex justify-content-between">
                              <div class="dropdown">
                                <input for = 'changeandsave'id = "team" name = "team" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value = 'Team'>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                  <a id = "team1" class="dropdown-item" href="#">Basketball</a>
                                  <a id = "team2" class="dropdown-item" href="#">Baseball</a>
                                  <a id = "team3" class="dropdown-item" href="#">Soccer</a>
                                  <div class="dropdown-divider"></div>

                                </div>
                              </div>
                              </div>
                          </div>
                        </div>
                      </div>

                        <div class="preview-item border-bottom">

                        <div class="preview-item-content d-flex flex-grow">
                          <div class="flex-grow">
                            <div class="d-flex d-md-block d-xl-flex justify-content-between">
                              <div class="dropdown">
                        <input for = 'changeandsave'id = "switchrole" name = "switchrole" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value = 'Switch Role'>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                          <a id = 'coach' class="dropdown-item" href="#">Coach</a>
                          <a id = 'athlete' class="dropdown-item" href="#">Athlete</a>
                          <a id = 'admin' class="dropdown-item" href="#">PEAK Admin</a>
                          <div class="dropdown-divider"></div>
                        </div>
                      </div>
                            </div>
                          </div>
                        </div>
                      </div>

                        <div class="preview-item border-bottom">
                        <div class="preview-item-content d-flex flex-grow">
                          <div class="flex-grow">
                            <div class="d-flex d-md-block d-xl-flex justify-content-between">
                              <input for = 'changeandsave'value = 'Save' type = 'submit' id = "save" name = "save" class='btn-primary btn btn-fw'>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>


<form method = 'POST' id = 'delete'>
                      <div class="preview-item border-bottom">
                        <div class="preview-item-content d-flex flex-grow">
                          <div class="flex-grow">
                            <div class="d-flex d-md-block d-xl-flex justify-content-between">
                              <input for = 'delete' type = 'submit' id = "deleteaccount" name = "deleteaccount" class='btn-danger btn btn-fw'value = 'Delete Account'>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
            </div>
            </form>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->

          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
{% endblock %}
