{% extends 'base.html' %}

{% block title %} Super-Admin Home {% endblock %}

{% block content %}

    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">

        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="/assets/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Anne Beethe</h5>
                  <span>PEAK SuperAdmin</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <li class="nav-item menu-items">
              <div style="width: 100%;">
                <div style="width: 50%; height: 75px;"> 
                    Left Div 
                </div>
                <div style="margin-left: 50%"> 
                </div>
            </div>
              <img class="img-xs rounded-circle" src="/assets/images/favicon.png" alt="">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/superadmin/home.html">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Edit Permissions</span>
            </a>
          </li>


          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
              <span class="menu-title">Add User</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="addathlete.html"> Add Athlete </a></li>
                <li class="nav-item"> <a class="nav-link" href="addcoach.html"> Add Coach </a></li>
                <li class="nav-item"> <a class="nav-link" href="addpeak.html"> Add PEAK Admin </a></li>
<!--
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
-->
              </ul>
            </div>
          </li>

        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">

          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" class="form-control" placeholder="Search Teams">
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
                <button class="add btn btn-primary todo-list-add-btn" onclick="handleAuthClick()"> Import </button> 
              <li class="nav-item dropdown d-none d-lg-block">
                <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" href="/coach_dashboard">Go to Team Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="/assets/images/faces/face15.jpg" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Anne Beethe</p>
                  </div>
                </a>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">

              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title">Edit Athlete Permissions</h4>
                      <a href=><input type=”button” value=Update></a> 
                    </div>
                      <div class="add-items d-flex">
                      <input type="text" class="form-control todo-list-input" placeholder="Search Athlete">
                      <button class="add btn btn-primary todo-list-add-btn">Go</button>
                    </div>


<!--
                      {% for user in athletelist %}
                        <li class="list-group-item">{{ user.first_name + user.last_name }}
                        <a href="/remove/{{ note.id }}">Finished</a>
                        </li>
                      {% endfor %}
-->

                      <div class="preview-list">


                          <div class="preview-item border-bottom">

                          </div>

                      </div>

                    <div class="preview-list">
<!--
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
-->
{% for i in range (num_athletes) %}

<div class="preview-item border-bottom">
  {% if status[i] == "Cleared" %}
  <td>
      <div class= "badge badge-outline-success" > {{status[i]}} </div>
  </td>
  {% elif status[i] == "Partially Cleared" %}
  <td>
      <div class= "badge badge-outline-warning" > {{status[i]}} </div>
  </td>
  {% else %}
  <td>
      <div class= "badge badge-outline-danger" > {{status[i]}} </div>
  </td>
  {% endif %}

  <div class="preview-item-content d-flex flex-grow">
    <div class="flex-grow">
      <div class="d-flex d-md-block d-xl-flex justify-content-between">
        <a class="nav-link" href="athletepermissions.html/{{ athletes[i].user_id }}"> {{ athletes[i].Name}} </a>

      </div>

    </div>
  </div>
</div>
{% endfor %}


                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title">Edit Coach Permissions</h4>
                      <p class="text-muted mb-1 small">View all</p>
                    </div>

                      <div class="add-items d-flex">
                      <input type="text" class="form-control todo-list-input" placeholder="Search Coach">
                      <button class="add btn btn-primary todo-list-add-btn">Go</button>
                    </div>

                    <div class="preview-list">

                      {% for i in range (num_coaches) %}

                      <div class="preview-item border-bottom">
                        <div class="preview-item-content d-flex flex-grow">
                          <div class="flex-grow">
                            <div class="d-flex d-md-block d-xl-flex justify-content-between">
                              <a class="nav-link" href="coachpermissions.html/{{ coach_names[i].user_id }}"> {{ coach_names[i].Name}} </a>

                            </div>

                          </div>
                        </div>
                      </div>
 {% endfor %}

                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>

            </div>
          </footer>

          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <script type="text/javascript">
      /* exported gapiLoaded */
      /* exported gisLoaded */
      /* exported handleAuthClick */
      /* exported handleSignoutClick */

      // Authorization scopes required by the API; multiple scopes can be
      // included, separated by spaces.
      const SCOPES = 'https://www.googleapis.com/auth/drive.metadata.readonly https://www.googleapis.com/auth/drive';

      // TODO(developer): Set to client ID and API key from the Developer Console
      const CLIENT_ID = '418133534880-o9kfvgfem47f4o1dn28gfvba89scj7dg.apps.googleusercontent.com';
      const API_KEY = 'AIzaSyBd1CcNgzMhY86u4kCU7NzbUAZfnNcKdEM';

      // TODO(developer): Replace with your own project number from console.developers.google.com.
      const APP_ID = 'cams-2022';

      let tokenClient;
      let accessToken = null;
      let pickerInited = false;
      let gisInited = false;

      /**
       * Callback after api.js is loaded.
       */
      function gapiLoaded() {
        gapi.load('client:picker', intializePicker);
      }

      /**
       * Callback after the API client is loaded. Loads the
       * discovery doc to initialize the API.
       */
      async function intializePicker() {
        await gapi.client.load('https://www.googleapis.com/discovery/v1/apis/drive/v3/rest');
        pickerInited = true;
      }

      /**
       * Callback after Google Identity Services are loaded.
       */
      function gisLoaded() {
        tokenClient = google.accounts.oauth2.initTokenClient({
          client_id: CLIENT_ID,
          scope: SCOPES,
          callback: '', // defined later
        });
        gisInited = true;
      }



      /**
       *  Sign in the user upon button click.
       */
      function handleAuthClick() {
        tokenClient.callback = async (response) => {
          if (response.error !== undefined) {
            throw (response);
          }
          accessToken = response.access_token;
          await createPicker();
        };

        if (accessToken === null) {
          // Prompt the user to select a Google Account and ask for consent to share their data
          // when establishing a new session.
          tokenClient.requestAccessToken({prompt: 'consent'});
        } else {
          // Skip display of account chooser and consent dialog for an existing session.
          tokenClient.requestAccessToken({prompt: ''});
        }
      }

      /**
       *  Sign out the user upon button click.
       */
      function handleSignoutClick() {
        if (accessToken) {
          accessToken = null;
          google.accounts.oauth2.revoke(accessToken);
        }
      }

      /**
       *  Create and render a Picker object for searching images.
       */
      function createPicker() {
        const view = new google.picker.View(google.picker.ViewId.DOCS);

        let picker = new google.picker.PickerBuilder()
        .addViewGroup(
          new google.picker.ViewGroup(google.picker.ViewId.DOCS)
              .addView(google.picker.ViewId.DOCUMENTS)
              .addView(google.picker.ViewId.PRESENTATIONS))
        .setOAuthToken(oauthToken)
        .setDeveloperKey(developerKey)
        .setCallback(pickerCallback)
        .build();
    

        const picker = new google.picker.PickerBuilder()
              .addView(google.picker.ViewId.DOCUMENTS)
              .addView(google.picker.ViewId.PRESENTATIONS))
            .enableFeature(google.picker.Feature.NAV_HIDDEN)
            .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
            .setDeveloperKey(API_KEY)
            .setAppId(APP_ID)
            .setOAuthToken(accessToken)
            .addView(view)
            .addView(new google.picker.DocsUploadView())
            .setCallback(pickerCallback)
            .build();
        picker.setVisible(true);
      }

      /**
       * Displays the file details of the user's selection.
       * @param {object} data - Containers the user selection from the picker
       */
      async function pickerCallback(data) {
        if (data.action === google.picker.Action.PICKED) {
          let text = `Picker response: \n${JSON.stringify(data, null, 2)}\n`;
          const document = data[google.picker.Response.DOCUMENTS][0];
          const fileId = document[google.picker.Document.ID];
          console.log("fileId", fileId);
          const res = await gapi.client.drive.files.get({
            'fileId': fileId,
            'fields': '*',
          });
          text += `Drive API response for first document: \n${JSON.stringify(res.result, null, 2)}\n`;
          // getting the webview link from res
          const webViewLink = res.result.webViewLink;
          console.log("webViewLink", webViewLink);
          window.open(webViewLink, '_blank');
        }
      }

      /**
 * Downloads a file
 * @param{string} realFileId file ID
 * @return{obj} file status
 * */
async function downloadFile(realFileId) {
  // Get credentials and build service
  // TODO (developer) - Use appropriate auth mechanism for your app

  const {GoogleAuth} = require('google-auth-library');
  const {google} = require('googleapis');

  const auth = new GoogleAuth({
    scopes: 'https://www.googleapis.com/auth/drive',
  });
  const service = google.drive({version: 'v3', auth});

  fileId = realFileId;
  try {
    const file = await service.files.get({
      fileId: fileId,
      alt: 'media',
    });
    console.log(file.status);
    return file.status;
  } catch (err) {
    // TODO(developer) - Handle error
    throw err;
  }
}
    </script>
    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>


{% endblock %}
