<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}
            {% endblock %}
            | CAMS
        </title>

        <!-- plugins:css -->
        <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">

        <!-- Plugin css for this page -->
        <link rel="stylesheet" href="/assets/vendors/jvectormap/jquery-jvectormap.css">
        <link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.carousel.min.css">
        <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.theme.default.min.css">

        <!-- Layout styles -->
        <link rel="stylesheet" href="/assets/css/style.css">

        <!-- Browser tab image -->
        <link rel="shortcut icon" href="/assets/images/favicon.png" />
    </head>

    <body>
        {% block content %}

        {% endblock %}

        <script type="text/javascript">
            /* exported gapiLoaded */
            /* exported gisLoaded */
            /* exported handleAuthClick */
            /* exported handleSignoutClick */

            // Authorization scopes required by the API; multiple scopes can be
            // included, separated by spaces.
            const SCOPES = 'https://www.googleapis.com/auth/drive.metadata.readonly https://www.googleapis.com/auth/drive';

            // TODO(developer): Set to client ID and API key from the Developer Console
            const CLIENT_ID = '418133534880-o9kfvgfem47f4o1dn28gfvba89scj7dg.apps.googleusercontent.com';
            const API_KEY = 'AIzaSyBd1CcNgzMhY86u4kCU7NzbUAZfnNcKdEM';

            // TODO(developer): Replace with your own project number from console.developers.google.com.
            const APP_ID = 'cams-2022';

            let tokenClient;
            let accessToken = null;
            let pickerInited = false;
            let gisInited = false;

            /**
             * Callback after api.js is loaded.
             */
            function gapiLoaded() {
              gapi.load('client:picker', intializePicker);
            }

            /**
             * Callback after the API client is loaded. Loads the
             * discovery doc to initialize the API.
             */
            async function intializePicker() {
              await gapi.client.load('https://www.googleapis.com/discovery/v1/apis/drive/v3/rest');
              pickerInited = true;
            }

            /**
             * Callback after Google Identity Services are loaded.
             */
            function gisLoaded() {
              tokenClient = google.accounts.oauth2.initTokenClient({
                client_id: CLIENT_ID,
                scope: SCOPES,
                callback: '', // defined later
              });
              gisInited = true;
            }



            /**
             *  Sign in the user upon button click.
             */
            function handleAuthClick() {
              tokenClient.callback = async (response) => {
                if (response.error !== undefined) {
                  throw (response);
                }
                accessToken = response.access_token;
                await createPicker();
              };

              if (accessToken === null) {
                // Prompt the user to select a Google Account and ask for consent to share their data
                // when establishing a new session.
                tokenClient.requestAccessToken({prompt: 'consent'});
              } else {
                // Skip display of account chooser and consent dialog for an existing session.
                tokenClient.requestAccessToken({prompt: ''});
              }
            }

            /**
             *  Sign out the user upon button click.
             */
            function handleSignoutClick() {
              if (accessToken) {
                accessToken = null;
                google.accounts.oauth2.revoke(accessToken);
              }
            }

            /**
             *  Create and render a Picker object for searching images.
             */
            function createPicker() {
              const view = new google.picker.View(google.picker.ViewId.DOCS);
              const picker = new google.picker.PickerBuilder()
                  .enableFeature(google.picker.Feature.NAV_HIDDEN)
                  .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
                  .setDeveloperKey(API_KEY)
                  .setAppId(APP_ID)
                  .setOAuthToken(accessToken)
                  .addView(view)
                  .addView(new google.picker.DocsUploadView())
                  .setCallback(pickerCallback)
                  .build();
              picker.setVisible(true);
            }

            /**
             * Displays the file details of the user's selection.
             * @param {object} data - Containers the user selection from the picker
             */
            async function pickerCallback(data) {
              if (data.action === google.picker.Action.PICKED) {
                let text = `Picker response: \n${JSON.stringify(data, null, 2)}\n`;
                const document = data[google.picker.Response.DOCUMENTS][0];
                const fileId = document[google.picker.Document.ID];
                console.log("fileId", fileId);
                const res = await gapi.client.drive.files.get({
                  'fileId': fileId,
                  'fields': '*',
                });
                text += `Drive API response for first document: \n${JSON.stringify(res.result, null, 2)}\n`;
                // getting the webview link from res
                const webViewLink = res.result.webViewLink;
                console.log("webViewLink", webViewLink);
                window.open(webViewLink, '_blank');
              }
            }

            /**
       * Downloads a file
       * @param{string} realFileId file ID
       * @return{obj} file status
       * */
      async function downloadFile(realFileId) {
        // Get credentials and build service
        // TODO (developer) - Use appropriate auth mechanism for your app

        const {GoogleAuth} = require('google-auth-library');
        const {google} = require('googleapis');

        const auth = new GoogleAuth({
          scopes: 'https://www.googleapis.com/auth/drive',
        });
        const service = google.drive({version: 'v3', auth});

        fileId = realFileId;
        try {
          const file = await service.files.get({
            fileId: fileId,
            alt: 'media',
          });
          console.log(file.status);
          return file.status;
        } catch (err) {
          // TODO(developer) - Handle error
          throw err;
        }
      }
          </script>
          <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
          <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>

        <!-- plugins:js -->
        <script src="/assets/vendors/js/vendor.bundle.base.js"></script>

        <!-- Plugin js for this page -->
        <script src="/assets/vendors/chart.js/Chart.min.js"></script>
        <script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
        <script src="/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
        <script src="/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <script src="/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>

        <!-- inject:js -->
        <script src="/assets/js/off-canvas.js"></script>
        <script src="/assets/js/hoverable-collapse.js"></script>
        <script src="/assets/js/misc.js"></script>
        <script src="/assets/js/settings.js"></script>
        <script src="/assets/js/todolist.js"></script>
        <script src="/assets/js/searchathletecoach.js"></script>

        <!-- Custom js for this page -->
        <script src="/assets/js/dashboard.js"></script>
    </body>
</html>
