{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                      {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                    Note: {{ message }}
                        {% endfor %}
                    {% endif %}
                  {% endwith %}
                <h3 class="card-title text-left mb-3">Login</h3>
                <form method="POST">
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input
                    type="email"
                    class="form-control p_input"
                    id="email"
                    name="email"
                    placeholder="Enter username or email"
                    />
                  </div>
                  <div class="form-group">
                    <label for="password">Password *</label>
                    <input
                    type="password"
                    class="form-control p_input"
                    id="password"
                    name="password"
                    placeholder="Enter password"
                    />
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-between">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Remember me </label>
                    </div>
                  </div>

                  <div class="text-center">

                    <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>

                  </div>


                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

    <!-- container-scroller -->>
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>

    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>

  </body>
</html>

{% endblock %}
